{% extends "home.html" %}
{% block saldo %}
<!-- <label>Saldo do banco: R$ {{saldo}}</label> -->
{% endblock %}
{% block func %}
<div>
    <table class="tabelaRequisicao">
        <!-- Inicio da Tabela -->
        <tr class="linhaTabela">
            <!-- Forma o Cabeçalho de acordo com o que existe dentro de cabecalhoTabela (cabecalhoTabela é mandado pelo back) -->    
            {% for header in cabecalhoTabela %}
                <th >{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in pesquisaSQLTabela %}
        <form action="{{ url_for('AceiteConta') }}" method="POST" name="AceiteContaTabela">
        <tr class="linhaTabela">
            <!-- Forma as linhas da tabela -->
            {% for cell in row %}
                <!-- Sempre a 1° linha será o ID identificadora de alguma tabela -->
                <!-- A 1° Linha célula/coluna que é o ID não irá aparecer -->
                {% if row[0] == cell %}
                <input type="hidden" value="{{ cell }}" name="IdConta">
                {% else %}
                <td class="celula">{{ cell }}</td>
                {% endif %}
            {% endfor %}
                <td> 
                <input type="submit" name="botao" value="Confirmar" class="btnd solid" id="btnConfirmarAbertura">
                <input type="submit" name="botao" value="Recusar" class="btnd solid" id="btnRecusarAbertura">
                </td>
            </tr>
        </form>
         {% endfor %}
    </table>
</div>    

{% endblock %}