{% extends "homenewgg.html" %}
{% block conteudo %}
<div class="conteudo-a">
    <div class="texto-elemento-a">
        <div class="tituloelemento">
            <span id="tituloElemento">Agências</span>
        </div>
        <div class="btn_criar">
            <a href="criaGA">
                <button class="btn_elemento">
                    <span class="material-symbols-outlined">add</span>
                    <h3>Criar Agência</h3>
                </button>
            </a>
        </div>
    </div>
    <hr>
    <div class="elemento-a">
        <div class="scroll-div-tabela">
            <div class="scroll-object-tabela">
                <table class="tabelaAgencias">
                    <!-- Inicio da Tabela -->
                    <tr class="linhaTabela">
                        <!-- Forma o Cabeçalho de acordo com o que existe dentro de cabecalhoTabela (cabecalhoTabela é mandado pelo back) -->
                        {% for header in cabecalhoTabela %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    {% for row in pesquisaSQLTabela %}
                    <form action="alterarAG" method="POST">
                        <tr class="linhaTabela">
                            {% for cell in row %}
                            {% if row[0] == cell %}
                            <input type="hidden" value="{{ cell }}" name="Id_agencia">
                            {% else %}
                            <td class="celula">{{ cell }}</td>
                            {% endif %}
                            {% endfor %}
                            <td>
                                <input type="submit" name="alt" value="Alterar" class="btn_alterar">
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}