{% extends "homenewgg.html" %}
{% block conteudo %}
    <div class="conteudo">
        <div class="elemento">
            <div>
                <table class="tabelaAgencias">
                    <!-- Inicio da Tabela -->
                    <tr class="linhaTabela">
                        <!-- Forma o Cabeçalho de acordo com o que existe dentro de cabecalhoTabela (cabecalhoTabela é mandado pelo back) -->    
                        {% for header in cabecalhoTabela %}
                            <th >{{ header }}</th>
                        {% endfor %}
                    </tr>
                    {% for row in pesquisaSQLTabela %}
                    <form action="{{ url_for('agencias') }}" method="POST">
                    <tr class="linhaTabela">
                        {% for cell in row %}
                            <td class="celula">{{ cell }}</td>
                        {% endfor %}
                        <td> 
                            <input type="submit" name="alt" value="Alterar" class="btnd solid">
                        </td>
                    </tr>
                    </form>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="elemento">
            <a href="criaAgencia">
                <input type="button" value="Criar Agencia">
            </a>
        </div>
    </div>
{% endblock %}