{% extends "homenewgg.html" %}
{% block conteudo %}
<div class="conteudo">
    <div class="elemento">
        <div class="blocoElemento">
            <span id="tituloElemento">Alterar Dados</span>
            <div class="inputElemento">
                <form action="{{ url_for('alteraGA') }}" method="POST">
                    <input type="hidden" value="{{idfuncionario}}" name="IdFuncionario">
                    <div class="inputValor">
                        <span id="textoInputElemento">Nome completo:</span>
                        <input required type="text" name="nome" value="{{nome}}">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Email:</span>
                        <input required type="text" name="email" value="{{email}}">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Endereço:</span>
                        <input required type="text" name="endereco" value="{{endereco}}">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">CPF:</span>
                        <input required oninput="mascara(this)" onblur="ValidarCPF(this)" type="text" name="cpf" value="{{cpf}}">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Sexo:</span>
                        <select class="input-selects" id="genero" name="genero" required>
                            <option value="F" {{selF}}>FEMININO</option>
                            <option value="M" {{selM}}>MASCULINO</option>
                            <option value="O" {{selO}}>OUTROS</option>
                        </select>
                    </div>
                    <div class ="inputValor">
                        <span id="textoInputElemento">Data de Nascimento:</span>
                        <input class="input-date" type="date" name="datanasc" required value={{dataNasc}}>
                    </div>
                    <div class ="inputValor">
                        <span id="textoInputElemento">Login:</span>
                        <input required type="text" name="login" value="{{login}}">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Senha:</span>
                        <input required type="password" id="SenhaId" name="senha"
                        required value="{{senha}}">
                        <img src="/static/img/ocultar.png" class="olhinho" alt="" onclick="mostrarOcultarid()" id="mostrarid">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Confirmar senha:</span>
                        <img src="/static/img/ocultar.png" class="olhinho" alt="" onclick="mostrarOcultaridconf()" id="mostraridconf"> 
                        <input type="password" value="{{senha}}" id="RepetirsenhaId"
                name="Repetirsenha" required>
                    </div>
                </div>
                    <div class="botaoElemento">
                        <input type="submit" id="botaoSubmit" value="Alterar">
                </form>
                <a href="gerentes">
                    <input type="button" id="botaoVoltar" value="Voltar">
                </a>
            </div>
        </div>   
    </div>
</div>

<script src="../static/scripts/confirmarsenha.js"></script>
<script src="../static/scripts/validarCPF.js"></script>
<script src="/static/scripts/mostrarOcultarSenha.js"></script>

{% endblock %}