{% extends "homenewgg.html" %}
{% block conteudo %}
<div class="conteudo">
    <div class="elemento">
        <span id="tituloElemento">Dados Atuais</span>
        <div class="blocoElemento">
            <div class="inputElemento">
                    <div class="inputValor">
                        <span id="textoInputElemento">Localidade: <br>{{pesquisa[0][1]}}</span>
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Número da agencia: <br>{{pesquisa[0][2]}}</span>
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Funcionário: <br>{{pesquisa[0][3]}}</span>
                    </div>
            </div>
        </div>
    </div>
    <span id="tituloElemento">Alterar Dados</span>
        <div class="blocoElemento">
            <div class="inputElemento">
                <form action="UpdateAG" method="POST">
                    <input type="hidden" value="{{pesquisa[0][0]}}" name="Id_agencia">
                    <div class="inputValor">
                        <span id="textoInputElemento">Localidade:</span>
                        <input required type="text" name="Localidade" value="{{pesquisa[0][1]}}">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Número da agencia:</span>
                        <input required type="text" name="NumAge" value="{{pesquisa[0][2]}}">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Funcionário:</span>
                        <input id="idFunc" type="hidden" value="{{pesquisa[0][4]}}">
                        <select class="input-selects" id="SelFunc" name="Func" required>
                            {% for row in dados %}
                                <option value="{{row[0]}}">{{row[1]}}</option>
                            {% endfor %}
                        </select>
                    </div><br>
                    <div class="botaoElemento">
                        <input type="submit" id="botaoSubmit" value="Alterar">
                    </div>
                </form>
            </div>
        </div>
</div>
<script>
    idFunc = document.getElementById('idFunc').value
    document.getElementById('SelFunc').value = idFunc;
</script>
{% endblock %}