{% extends "homenewgg.html" %}
{% block conteudo %}
<div class="conteudo">
    <div class="elemento">
        <span id="tituloElemento">funcionarios</span>
        <div class="blocoElementoAltera">
            <div class="inputElemento">
                <div class="h1">
                    <h3>Saldo do Banco</h3>
                    <h1>R$ {{saldo}}</h1><br>
                    <h3>NOVO VALOR DO BANCO</h3>
                </div>
                <form action="AltSaldo" method="POST">
                    <div class="input-field">
                        <input required type="number" step="0.01" name="ValNovoSaldo" value="{{saldoV}}">
                    </div>
                    <div class="input-button">
                        <input type="submit" value="ALTERAR" class="btnd solid">
                    </div>
                </form>
                <a href="home">Voltar ao Menu</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}