<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro|Py.nk</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"> -->
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <div class="container">
        <div class="img">
            <img id="logo" src="../static/img/pynkpng2.png" alt=""><br>
            <img id="cliente" src="../static/img/cliente2.svg" alt="Cliente">
        </div>
        <div class="forms-container">
            <div class="cadastro-login">
                <form action="{{ url_for('cadastro') }}" method="POST" class="form-cadastro">
                    <h2 class="title">ABRA SUA CONTA</h2>
                    <input class="input-field-cad" type="text" placeholder="NOME COMPLETO" name="name" required>
                    <input class="input-field-cad" type="text" placeholder="ENDEREÇO" name="endereco" required>
                    <input class="input-field-cad" type="text" placeholder="CPF" name="cpf" required>
                    <input type="password" class="input-field-cad" placeholder="SENHA" id="SenhaId" name="senha"
                        required>
                    <input type="password" class="input-field-cad" placeholder="CONFIRMAR SENHA" id="RepetirsenhaId"
                        name="Repetirsenha" required>
                    <label>DATA NASCIMENTO</label>
                    <input class="input-field-cad" type="date" name="datanasc" required>
                    <label>TIPO DE CONTA</label>
                    <select id="input_tipoconta" class="input-field-cad" name="tipoconta" required>
                        <option value="Conta Corrente">CONTA CORRENTE</option>
                        <option value="Conta Poupança">CONTA POUPANÇA</option>
                    </select>
                    <label>GENÊRO</label>
                    <select class="input-field-cad" id="genero" name="genero" required>
                        <option value="F">FEMININO</option>
                        <option value="M">MASCULINO</option>
                        <option value="O">OUTROS</option>
                    </select>
                    <input type="submit" value="CADASTRAR" class="btn solid">
                    <a id="linkCad" href="{{ url_for('index') }}">JÁ POSSUI UMA CONTA? FAÇA SEU LOGIN!</a>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/scripts/confirmarsenha.js"></script>
</body>

</html>