<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="nav container">
            <a href="#" class="logo"><img src="P.png" alt="logo"></a>
            <ul class="navbar">
                <li><a href="portfolio.html" class="nav-link">A Pynk</a></li>
                <li><a href="sobremim.html" class="nav-link">Login</a></li>
            </ul>
        </div>
    </header>
    <div id="idtela" class="tela">
        <div class="cadastro">
                <div class="input-field">
                    <h1 class="h1">ABRA SUA CONTA</h1><br>
                    <input required type="text" name="CPF" id="CPF" class="input">
                    <label for="CPF">Digite seu CPF</label>
                </div>
            <br>
            <a onclick="teste1()" class="btn_cadastro">Cadastrar</a>
        </div>
        <div class="img_cadastro">
            <img src="coffe.svg" alt="imagem banco">
        </div>
    </div>
</body>
</html>    
    <div id="idtela2" class="tela">
        <div class="cadastro2">
            
                <div class="input-field">
                    <h1 class="h1">DADOS PESSOAIS</h1><br>
                    <input required type="text" name="NOME" id="NOME" class="input">
                    <label for="NOME">Nome Completo</label>

                </div>
                <div class="input-field">
                    <input required type="text" name="NOME" id="NOME" class="input">
                    <label for="NOME">E-mail</label>
                </div>
                <div class="input-field">
                    <!-- <input required type="date" name="DATANASC" id="DATANASC" class="input"> -->
                 <input class="input_data" type="date" placeholder="Data de Nascimento" onchange="this.className=(this.value!=''?'has-value':'')">
                </div>
                <div class="input-field">
                    <!-- <label for="GENERO">Gênero</label> -->
                    <select name="GENERO" id="GENERO" class="input">
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outros</option>
                    </select>
                </div>
                <br><br><br>
                <div class="btn_navigation">
                    <table>
                        <tr>
                        <td>
                            <div>
                                <a onclick="teste()" class="btn_seta"><i class='bx bx-chevron-left'></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="btn_next">
                                <a class="btn_seta"><i class='bx bxs-chevron-right'></i></a>
                            </div>
                        </td>       
                        </tr>
                    </table>
                </div>
            

        </div>
    </div>
</body>

</html>
<script>

    function teste(){
    document.getElementById("idtela").style.display = "flex";
    document.getElementById("idtela2").style.display = "none";
}

function teste1(){
    document.getElementById("idtela2").style.display = "flex";
    document.getElementById("idtela").style.display = "none";
}
</script>