<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro|Py.nk</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"> -->
    <link rel="stylesheet" href="../static/style/style.css">

</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="cadastro-login">
                <form action="login.html" method="POST" class="form-cadastro">
                    <h2 class="title">ABRA SUA CONTA</h2>
        
                        <input class="input-field-cad" type="text" placeholder="NOME COMPLETO" name="name">

                        <input class="input-field-cad" type="text" placeholder="ENDEREÇO" name="endereco">

                        <input class="input-field-cad" type="text" placeholder="CPF" name="cpf">

                        <label style="text-align: left;font-size: 10px">DATA NASCIMENTO</label>
                        <input style="" class="input-field-cad" type="date" placeholder="DATA DE NASCIMENTO" name="datanasc">

                        <select class="input-field-cad" id="genero">
                            <option value="N">GÊNERO</option>
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                            <option value="O">Outros</option>
                        </select>

                        <input class="input-field-cad" type="text" placeholder="LOGIN" name="login">

                        <input class="input-field-cad" type="password" placeholder="SENHA" name="senha">
 
                        <input  type="submit" value="CADASTRAR" class="btn solid">
                        <input  type="submit" value="JÁ POSSUI UMA CONTA? FAÇA SEU LOGIN!" class="btnd solid">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
