<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Py.NK</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
    <div class="logo">
        <span id="txt_logo">Py.NK</span>
    </div>
    <div clas="cadastro">
        <form action="/cadastroold.html" method="POST">
            <span id="txt_cadastro">Cadastro</span>
            <div class="input_nome">
                <span id="txt_nome">Nome</span>
                <input type="text" class="input_cadastro" name="name">
            </div>
            <div class="input_cpf">
                <span id="txt_cpf">CPF</span>
                <input type="text" class="input_cadastro" name="cpf">
            </div>
            <div class="input_endereco">
                <span id="txt_endereco">Endereço</span>
                <input type="text" class="input_cadastro" name="endereco">
            </div>
            <div class="input_data">
                <span id="txt_data">Data nascimento</span>
                <input type="date" class="input_cadastro" name="datanasc">
            </div>
            <div class="input_genero">
                <span id="txt_genere">Gênero</span>
                <!-- <input list="genero" class="input_cadastro"> -->
                <select id="input_genero" name="genero">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="O">Outros</option>
                    <option value="N">Prefiro não informar</option>
                </select>
            </div>
            <div class="input_genero">
                <span id="txt_tipoconta">Tipo da Conta</span>
                <!-- <input list="genero" class="input_cadastro"> -->
                <select id="input_genero" name="tipoconta">
                    <option value="Conta Corrente">Conta Corrente</option>
                    <option value="Conta Poupança">Conta Poupança</option>
                </select>
            </div>
            <div class="input-field">
                <span id="txt_login">Login</span>
                <input type="text" name="login">
            </div>
            <div class="input_senha">
                <span id="txt_senha">Senha</span>
                <input type="password" required class="input_cadastro" id="SenhaId" name="senha"><br>
                <span id="txt_senhaR">Repetir Senha</span>
                <input type="password" required class="input_cadastro" id="RepetirsenhaId" name="Repetirsenha">
            </div>
            <button id="submit">Cadastrar</button>
            <span>Ja possui uma conta?
                <a href="login.html">Entrar.</a>
            </span>
        </form>
    </div>
</body>

</html>
<script>
let senha = document.getElementById('SenhaId');
let senhaC = document.getElementById('RepetirsenhaId');

function validarSenha() {
  if (senha.value != senhaC.value) {
    senhaC.setCustomValidity("Senhas diferentes!");
    senhaC.reportValidity();
    return false;
  } else {
    senhaC.setCustomValidity("");
    return true;
  }
}

// verificar também quando o campo for modificado, para que a mensagem suma quando as senhas forem iguais
senhaC.addEventListener('input', validarSenha);
</script>