{% extends "template.html" %}
{% block contents %}

<main class="login">
    <div class="cadastroSaldo">
        <form action="cadastrarTotalBanco" method="POST">
            <h2>Cadastro Saldo Inicial</h2>
            <div class="div_input">
                <input type="number" name="valor" id="valor" required>
                <label for="Valor">Valor</label>
            </div>
            <button type="submit" class="entrar ripple">Cadastrar<i class='bx bx-right-arrow-alt bx-sm' style='color:#ffffff'></i></button>
        </form>
    </div>
</main>

{% endblock%}