{% extends "templateCliente.html" %}
{% block conteudo %}
<div class="elemento">
    <div class="blocoElemento">
        <span id="tituloElemento">CANCELE SUA CONTA</span>
        <div class="inputElemento">
            <form action="{{ url_for('CancelamentoConta') }}" method="POST">
                <div class="inputSenha-Btn">
                    <div class="divolhinho">
                    <input type="{{senha}}" class="inputSenha" placeholder="SENHA" id="SenhaId" name="senha" required>
                    <img src="/static/img/ocultar.png" class="olhinhocancel" alt="" onclick="mostrarOcultarid()" id="mostrarid">
                    </div>
                    <input type="{{botao}}" value="CANCELAR CONTA" class="btn_cancelar">
                </div>
            </form>
        </div>
        <div class="botaoElemento">
            <a href="home">
                <input type="button" id="botaoVoltar" value="Voltar">
            </a>
        </div>
        <span id="mensagemErro"> {{ mensagem }}</span>
        
    </div>
</div>
<script src="/static/scripts/mostrarOcultarSenha.js"></script>

{% endblock %}