{% extends "templateCliente.html" %}
{% block conteudo %}
<div class="elemento">
    <div class="blocoElemento">
        <span id="tituloElemento">CANCELE SUA CONTA</span>
        <div class="inputElemento">
            <form action="{{ url_for('CancelamentoConta') }}" method="POST">
                <input type="{{senha}}" class="textoInputElemento" placeholder="SENHA" id="SenhaId" name="senha" required>
                <img src="/static/img/ocultar.png" width="20px" alt="" onclick="mostrarOcultarid()" id="mostrarid">

                <div class="input-button">
                    <input type="{{botao}}" value="CANCELAR CONTA" class="btnd solid"><br>
                </div>
            </form>
        </div>
        <div class="botaoElemento">
            <a href="home">
                <input type="button" id="botaoVoltar" value="Voltar">
            </a>
        </div>
    </div>
    <span id="mensagemErro"> {{ mensagem }}</span>
</div>
<script src="/static/scripts/mostrarOcultarSenha.js"></script>

{% endblock %}