{% extends "home.html" %}
{% block nav %}
<div class="logo">
    <a href="home"><img src="../static/img/pynkpng2.png" alt="logo"></a>
</div>
<ul class="navbar">
    <li><a href="home" class="nav-link">Menu</a></li>
    <li><a href="{{ url_for('index') }}" class="nav-link"><i class='bx bx-log-out'></i></a></li>
</ul>
{% endblock %}
{% block saldo %}
{% endblock %}
{% block func %}

<div class="func">
    <div class="h1">

        <h1>CANCELE SUA CONTA</h1>
    </div>
    <div>
        <h3>SUA CONTA APENAS PODE SER CANCELADA QUANDO TIVER SALDO 0</h3>
        <h3>CANCELAR A CONTA É UM ATO IRREVERSÍVEL! CASO QUEIRA PROSSEGUIR DIGITE SUA SENHA</h3>
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <label> {{ message }}</label>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <form action="{{ url_for('CancelamentoConta') }}" method="POST">
        <div class="input-button">
            <input type="submit" value="CANCELAR CONTA" class="btnd solid"><br>
        </div>
        <input type="password" class="input-field" placeholder="SENHA" id="SenhaId" name="senha" required>
    </form>

    <a href="{{ url_for('home') }}">Voltar ao Menu</a>
</div>

{% endblock %}