{% extends "homenewgg.html" %}
{% block conteudo %}

<div class="conteudo">
    <div class="elemento">
        <div class="blocoElemento">
            <span id="tituloElemento">Configuração Juros Poupança</span>
            <div class="inputElemento">
                <form action="altaraConfigPoupanca" method="POST">
                        <span id="textoInputElemento">Porcentagem:</span>
                        <input required type="number" step="0.01" name="porcentagem" value="{{ porcentagem }}">    
                    <div class="botaoElemento">
                        <div class="chequeesp">
                            <input type="submit" id="botaoSubmit" value="Alterar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<a href="home">
   <input type="button" id="botaoVoltar" value="Voltar">

{% endblock %}