{% extends "homenewgg.html" %}
{% block conteudo %}

<div class="conteudo">
    <div class="elemento">
        <div class="blocoElemento">
            <span id="tituloElemento">Configuração Juros Poupança</span>
            <div class="inputElemento">
                <form action="altaraConfigPoupanca" method="POST">
                    <div class="texto-input">
                        <h3>Porcentagem:</h3>
                        <input required type="number" step="0.01" name="porcentagem" value="{{ porcentagem }}">
                    </div>
                    <div class="input-button-altvalor">
                        <a href="home" class="voltar">Voltar</a>
                        <input type="submit" class="btn-altsaldo" value="Alterar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}