{% extends "homenewgg.html" %}
{% block conteudo %}
<div class="conteudo">
    <div class="elemento">
        <span id="tituloElemento">Criação de Agências</span>
        <div class="blocoElemento">
            <div class="inputElemento">
                <form action="{{ url_for('criaAgencia') }}" method="POST">
                    <div class="inputValor">
                        <span id="textoInputElemento">Digite a localidade:</span>
                        <input required type="text" name="localidade">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Digite o número da agência:</span>
                        <input required type="text" name="numeroAgencia">
                    </div>
                    <div class="inputValor">
                        <span id="textoInputElemento">Gerente de Agência:</span>
                        <select id="input_tipoconta" class="input-selects" name="funcionario" required>
                            {% for funcionario in listaGerente %}
                                <option value="{{ funcionario.id }}">{{ funcionario.nome }}</option>  
                            {% endfor %}
                        </select>
                    </div>
                </div>
                    <div class="botaoElemento">
                        <input type="submit" id="botaoSubmit" value="Criar Agência">
                </form>
                <a href="agencias">
                    <input type="button" id="botaoVoltar" value="Voltar">
                </a>
            </div>
        </div>
    </div>
</div> 
{% endblock %}