{% extends "homenewgg.html" %}
{% block conteudo %}
            <div class="conteudo">
                <div class="elemento">
                    <span id="tituloElemento">Acesso Criado</span>
                    <div class="blocoElemento">
                        <div class="inputElemento">
                                    <span id="textoInputElemento">Login: {{login}}</span>
                                    <span id="textoInputElemento">Senha: {{senha}}</span>
                            <a href="gerentes">
                                <input type="button" id="botaoVoltar" value="Voltar">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}        