{% extends "home.html" %}
{% block func %}
    <div class="h1">
        <h1>DEPOSITE SEU DINHEIRO</h1>
    </div>
    <div>
        <h3>É APENAS ACEITO VALORES A CIMA DE 0</h3>
    </div>
    <form action="{{ url_for('depositoConta') }}" method="POST">
        <div class="input-field">
            <input required type="number" placeholder="00,00" step="0.01" name="valor">
        </div>
        <div class="input-button">
            <input type="submit" value="DEPOSITAR" class="btnd solid">
        </div>
    </form>
    <a href="{{ url_for('home') }}">Voltar ao Menu</a>
{% endblock %}