{% extends "layout.html" %}
{% block conteudo %}
    <div class="conteudo">
        <div class="elemento">
            <div class="saldo-dep">
                <span id="tituloSaldo">Seu saldo</span>
                <span id="saldo">R$ {{saldo}}</span>
            </div>
            <span id="tituloElemento">Depósito</span>
            <div class="blocoElemento">
                <div class="inputElemento">
                    <form action="{{ url_for('depositoConta') }}" method="POST">
                        <div class="inputValor">
                            <span id="textoInputElemento">Insira o valor:</span>
                            <input required type="number" placeholder="00,00" step="0.01" name="valor">
                        </div>
                    </div>
                        <div class="botaoElemento">
                            <input type="submit" id="botaoSubmit" value="Deposite">
                    </form>
                    <a href="home">
                        <label id="botaoVoltar">Voltar</label>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
