{% extends "cadastronew.html" %}
{% block navbar %}
    <header>
        <div class="nav container">
            <a href="#" class="logo"><img src="../static/img/prosa.png" alt="logo"></a>
            <!-- <ul class="navbar">
                <li><a href="#" class="nav-link">A Pynk</a></li>
                <li><a href="cadastronew.html" class="nav-link">Cadastre-se</a></li>
            </ul> -->
        </div>
    </header>
    {% endblock %}
        {% block conteudo %}
        <form>
            <div class="login-input">
                <label for="conta">Nome Completo</label>
                <input type="text" class="input" id="nome" name="name" required>  
            </div>
            <div class="login-input">
                <input type="date" class="input" id="datanasc" name="datanasc"  required>
                <label for="datanasc">Data de Nascimento</label>
            </div>
            <div class="login-input">
                <select class="input-selects" id="genero" name="genero" required>
                    <option value="F">FEMININO</option>
                    <option value="M">MASCULINO</option>
                    <option value="O">OUTROS</option>
                </select>
            </div>
            <div class="login-input">
                <input type="email" class="input" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
        </form>
        {% endblock %}
        {% block conteudo %}
        <form>
            <div class="login-input">
                <label for="conta">Nome Completo</label>
                <input type="text" class="input" id="nome" name="name" required>  
            </div>
            <div class="login-input">
                <input type="date" class="input" id="datanasc" name="datanasc"  required>
                <label for="datanasc">Data de Nascimento</label>
            </div>
            <div class="login-input">
                <select class="input-selects" id="genero" name="genero" required>
                    <option value="F">FEMININO</option>
                    <option value="M">MASCULINO</option>
                    <option value="O">OUTROS</option>
                </select>
            </div>
            <div class="login-input">
                <input type="email" class="input" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
        </form>
        {% endblock %}
        {% block conteudo %}
        <form>
            <div class="login-input">
                <label for="conta">Nome Completo</label>
                <input type="text" class="input" id="nome" name="name" required>  
            </div>
            <div class="login-input">
                <input type="date" class="input" id="datanasc" name="datanasc"  required>
                <label for="datanasc">Data de Nascimento</label>
            </div>
            <div class="login-input">
                <select class="input-selects" id="genero" name="genero" required>
                    <option value="F">FEMININO</option>
                    <option value="M">MASCULINO</option>
                    <option value="O">OUTROS</option>
                </select>
            </div>
            <div class="login-input">
                <input type="email" class="input" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
        </form>
        {% endblock %}