{% extends "homenewgg.html" %}
{% block conteudo %}
<div class="conteudo">
    <div class="elemento">
        <span id="tituloElemento">funcionarios</span>
        <div class="blocoElementoAltera">
            <div class="inputElemento">
                <table class="tabelaRequisicao">
                    <tr class="linhaTabela">
                        {% for header in cabecalhoTabela %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    {% set p = namespace(value=0) %}
                    {% for row in pesquisaSQL %}
                    <form action="{{ url_for('alterarDesligar') }}" method="POST">
                        <tr class="linhaTabela">
                            {% for cell in row %}
                            {% if cell == row[0] %}
                             <input type="hidden" value="{{ cell }}" name="IdFuncionario">
                            {% else %}
                                <td class="celula">{{ cell }}</td>
                            {% endif %}
                            {% endfor %}
                            <td class="celula">
                                <input type="submit" name="botao" value="Alterar" class="btnd solid" id="btnConfirmar">
                            </td>
                            <td class="celula">
                                <input type="submit" name="botao" value="Desligar" class="btnd solid" id="btnConfirmar">
                            </td>
                        </tr>
                    </form>
                    {% set p.value = p.value + 1 %}
                    {% endfor %}
                </table>
                <a href="criaGA">
                    <input type="button" value="Criar Gerente">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}