{% extends "homenewgg.html" %}
{% block conteudo %}
<div class="conteudo-g">
    <div class="texto-elemento-g">
        <div class="tituloelemento">
            <span id="tituloElemento">Gerentes de Agência</span>
        </div>
        <div class="btn_criar">
            <a href="criaGA">
                <button class="btn_elemento">
                    <span class="material-symbols-outlined">add</span>
                    <h3>Criar Gerente</h3>
                </button>
            </a>
        </div>
    </div>
    <hr>
    <div class="elemento-g">
        <div class="scroll-div-tabela">
            <div class="scroll-object-tabela">
                        <table class="tabelaAgencias">
                            <tr class="linhaTabela">
                                {% for header in cabecalhoTabela %}
                                <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                            {% set p = namespace(value=0) %}
                            {% for row in pesquisaSQL %}
                            <form action="{{ url_for('alterarDesligar') }}" method="POST">
                                <tr class="linhaTabela">
                                    {% for cell in row %}
                                    {% if cell == row[0] %}
                                    <input type="hidden" value="{{ cell }}" name="IdFuncionario">
                                    {% else %}
                                        <td class="celula">{{ cell }}</td>
                                    {% endif %}
                                    {% endfor %}
                                    <td class="celula">
                                        <input type="submit" name="botao" value="Alterar" class="btn_alterar" id="btnConfirmar">
                                    </td>
                                    <td class="celula">
                                        <input type="submit" name="botao" value="Desligar" class="btn_alterar" id="btnConfirmar">
                                    </td>
                                </tr>
                            </form>
                            {% set p.value = p.value + 1 %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
</div>
{% endblock %}