{% extends "homenew.html" %}
{% block saldo %}
<label>Saldo do banco: R$ {{saldo}}</label>
{% endblock %}
{% selecttabela %}
    <h2>Usuários</h2>
    <div id="DivExtrato">
        <div>
            <form action="FiltroExtrato" method="POST">
                <div class="select">
                    <select name="format" id="format">
                    <option selected disabled>Pesquisar por</option>
                    <option>CPF</option>
                    <option>Nome</option>
                    <option>Conta</option>
                    <option>Agência</option>
                    </select>                  
                </div>      
                <div class="pesquisa">
                    <input type="text" >
                </div>          
        </div>
                <input type="submit" class="btnd" value="Pesquisar">
            </form>
        </div>
{% endblock %}
{% block tabela %}
{% endblock %}