{% extends "layout.html" %}
{% block sidebar %}
            <aside>
                <div class="topo">
                    <div class="logo">
                        <img src="../static/img/logorosa2.png">
                    </div>
                    <div class="fechar" id="fechar-btn">
                        <span class="material-cons-sharp">close</span>
                    </div>
                </div>
                <div class="sidebar">
                    <a href="home">
                        <span class="material-symbols-outlined">home</span>
                        <h3>Home</h3>
                    </a>
                    <a href="#" class="req_btn">
                        <span class="material-symbols-outlined">account_balance</span>
                        <h3>Banco</h3>
                    </a>
                    <a href="SuaContaGG">
                        <span class="material-symbols-outlined">person</span>
                        <h3>Sua Conta</h3>
                    </a>
                    <a href="agencias" class="req_btn">
                        <span class="material-symbols-outlined">corporate_fare</span>
                        <h3>Agências</h3>
                    </a>
                    <a href="gerentes" class="req_btn">
                        <span class="material-symbols-outlined">supervisor_account</span>
                        <h3>Gerentes</h3>
                    </a>
                    <a href="#" class="req_btn">
                        <span class="material-symbols-outlined">groups</span>
                        <h3>Usuarios</h3>
                    </a>
                    <a href="#" class="req_btn">
                        <span class="material-symbols-outlined">playlist_add_check</span>
                        <h3>Requisições</h3>
                    </a>
                    <a href="{{ url_for('index') }}" class="logout">
                        <span class="material-symbols-outlined">logout</span>
                        <h3>Sair</h3>
                    </a>
                </div>
            </aside>
{% endblock %}
{% block conteudo %}
{% endblock %}