<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Py.nk</title>
    <link rel="stylesheet" href="../static/style/stylehome.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/stylehome.css') }}"> -->
    {% endblock %}
</head>

<body>
    <header>
        <div class="nav container">
            {% block nav %}
            <div class="logo">
                <a href="#"><img src="../static/img/pynkpng2.png" alt="logo"></a>
            </div>
            <ul class="navbar">
                <li><a href="#" class="nav-link">Menu</a></li>
                <li><a href="{{ url_for('index') }}" class="nav-link"><i class='bx bx-log-out'></i></a></li>
            </ul>
            {% endblock %}
        </div>
        <div class="saldo">
            {% block saldo %}
            <label>Saldo: R$ {{saldo}}</label>
            {% endblock %}
        </div>
        {% block func %}
        <div class="group">
            <div id="DivLinks">
                <a href="{{ url_for('deposito') }}"><i class='bx bx-money'></i></a>
                <h5>DEPOSITO</h5><br>
                <a href="{{ url_for('saque') }}"><i class='bx bx-money-withdraw'></i></a>
                <h5>SAQUE</h5>
                <a href="{{ url_for('Transacao') }}"><i class='bx bx-money-withdraw'></i></a>
                <h5>TRANSFERÊNCIA</h5>
            </div>
            <div id="DivExtrato">
                <table id="tbExtrato">
                    <thead>
                        <tr>
                            {% for header in cabecalhoTabela %}
                                <th>{{header}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        {% endblock %}
    </header>
</body>

</html>