{% extends "home.html" %}
{% block saldo %}
<label>Saldo do banco: R$ {{saldo}}</label>
{% endblock %}
{% block func %}
<div class="func">
    <div>
        <nav>
            <ul class="navbar">
                <li class="liHomeH">
                    <a href="ConferenciaDepositoTabela"><i class='bx bx-money'></i></a>
                    <h6>CONFERENCIA DEPOSITO</h6>
                </li>
                <li class="liHomeH">
                    <a href="AceiteContaTabela"><i class='bx bx-money'></i></a>
                    <h6>REQUISIÇÕES DE ABERTURA DE CONTAS</h6>
                </li>
                <li class="liHomeH">
                    <a href="AceiteAlteracaoTabela"><i class='bx bx-money'></i></a>
                    <h6>REQUISIÇÕES DE ALTERAÇÃO DE DADOS</h6>
                </li>
                <li class="liHomeH">
                    <a href="AltSaldo"><i class='bx bx-money'></i></a>
                    <h6>ALTERAR SALDO DO BANCO</h6>
                </li>
                <li class="liHomeH">
                    <a href="ListGA"><i class='bx bx-money'></i></a>
                    <H6>LISTA DE FUNCIONARIOS</H6>
                </li>
                <li class="liHomeH">
                    <a href="ListAG"><i class='bx bx-money'></i></a>
                    <H6>LISTA DE AGENCIAS</H6>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}