{% extends "templateGA.html" %}

{% block conteudo %}
<main>
    <div class="bloco-info">
        <div class="saldo">
            <span class="material-symbols-outlined">group</span>
            <div class="conteudo-saldo">
                <div class="text-saldo">
                    <h3>Total de Usuários</h3>
                    <h1>{{usuarios[0][0]}}</h1>
                </div>
            </div>
        </div>
        <div class="saldo">
            <span class="material-symbols-outlined">list_alt</span>
            <div class="conteudo-saldo">
                <div class="text-saldo">
                    <h3>Requisições em aberto</h3>
                    <h1>{{req[0][0]}}</h1>
                </div>
            </div>
        </div>
    </div>

    {% block Tabela %}
    <div class="Extrato">

        <div class="texto-extrato">
            <h2>Requisições</h2>
        </div>
        <form action="{{ url_for('homeG') }}" method="POST">
            <div class="custom-select">
                <select name="requisicao1" required>
                    {% if requisicao == '0' %}
                    <option value="0" selected>Depósitos</option>
                    <option value="1">Abertura de Contas</option>
                    <option value="2">Alteração de Dados</option>
                    {% elif requisicao == '1' %}
                    <option value="0">Depósitos</option>
                    <option value="1" selected>Abertura de Contas</option>
                    <option value="2">Alteração de Dados</option>
                    {% else %}
                    <option value="0">Depósitos</option>
                    <option value="1">Abertura de Contas</option>
                    <option value="2" selected>Alteração de Dados</option>
                    {% endif %}
                </select>
                <input type="submit" class="btnFiltro" value="Pesquisar">
            </div>
        </form>
        <div class="scroll-div">
            <div class="scroll-object">
                <table id="TabelaReq" class="tabelaRequisicao">
                    <!-- Inicio da Tabela -->
                    <thead>
                        <tr class="linhaTabela">
                            <!-- Forma o Cabeçalho de acordo com o que existe dentro de cabecalhoTabela (cabecalhoTabela é mandado pelo back)     -->
                            {% for header in cabecalhoTabela %}
                            <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in pesquisaSQLTabela %}
                        <tr class="linhaTabela">
                            <form action="{{ url_for('RequisicaoGerenteAgencia') }}" method="POST">
                            <!-- Forma as linhas da tabela -->
                            <input type="hidden" value="{{ requisicao }}" name="requisicao">
                            {% for cell in row %}
                            <!-- Sempre a 1° linha será o ID identificadora de alguma tabela -->
                            <!-- A 1° Linha célula/coluna que é o ID não irá aparecer -->
                            {% if row[0] == cell %}
                            <input type="hidden" value="{{ cell }}" name="Id">
                            {% else %}
                            <td class="celula">{{ cell }}</td>
                            {% endif %}

                            {% endfor %}
                            {% if requisicao == '0' %}
                            <td>
                                <input type="submit" name="botao" value="Confirmar" class="btnd solid"
                                    id="btnConfirmar">
                                <input type="submit" name="botao" value="Recusar" class="btnd solid" id="btnRecusar">
                            </td>
                            {% elif requisicao == '1'%}
                            <td>
                                <input type="submit" name="botao" value="Confirmar" class="btnd solid"
                                    id="btnConfirmar">
                                <input type="submit" name="botao" value="Recusar" class="btnd solid" id="btnRecusar">
                            </td>
                            {% else %}
                            <td>
                                <input type="hidden" value="{{ row[3] }}" name="Desc">
                                <input type="submit" name="botao" value="Confirmar" class="btnd solid"
                                    id="btnConfirmar">
                                <input type="submit" name="botao" value="Recusar" class="btnd solid" id="btnRecusar">
                            </td>
                            {% endif %}
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock %}
    </div>
</main>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#TabelaReq').DataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)"
            }
        });
    });
</script>
{% endblock %}