<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Py.nk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/stylehome.css') }}">
    
</head>
<body>
    <header>
        <div class="nav container">
            <div class="logo">
                <a href="#"><img src="img/pynkpng2.png" alt="logo"></a>  
            </div>
            <ul class="navbar">
                <li><a href="#" class="nav-link">Menu</a></li>
                <li><a href="#" class="nav-link">Conta</a></li>
                <li><a href="#" class="nav-link">Py.nk</a></li>
                <li><a href="#" class="nav-link">Contato</a></li>
            </ul>
        </div>
            <div class="func">
                <a href="deposito.html"><i class='bx bx-money'></i></a>
                <h5>DEPOSITO</h5>
                <br>
                <a href="Saque.html"><i class='bx bx-money-withdraw'></i></a>
                <h5>SAQUE</h5>
            </div>
    </header>  
</body>
</html>