{% extends "home.html" %}
{% block saldo %}
{% endblock %}
{% block func %}
<div class="func">
    <table class="tabelaRequisicao">
        <tr class="linhaTabela">
            {% for header in cabecalhoTabela %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% set p = namespace(value=0) %}
        {% for row in pesquisaSQL %}
        <form action="ListGA" method="POST" name="ConferenciaDeposito">
            <tr class="linhaTabela">
                {% for cell in row %}
                <td class="celula">{{ cell }}</td>
                {% endfor %}
                {% set LocalAnt = row[1] %}
                <input type="hidden" name="LocalAnt" value="{{LocalAnt}}">
                <td class="celula">
                    <select name="SelectTRA">
                        {% for Lagencia in LocAgencias %}
                        {% for localidade in Lagencia %}
                        <option {% if localidade == LocalAnt %} selected {% endif %}>{{ localidade }}</option>
                        {% endfor %}
                        {% endfor %}
                    </select>
                </td>
                <td class="celula">
                    <input type="hidden" name="IdFuncTRA" value="{{ IdFunc[p.value][0] }}">
                    <input type="submit" name="botao" value="Confirmar" class="btnd solid" id="btnConfirmar">
                </td>
            </tr>
        </form>
        {% set p.value = p.value + 1 %}
        {% endfor %}
    </table>
</div>
{% endblock %}