{% extends "homenewgg.html" %}
{% block conteudo %}
<div class="conteudo">
    <div class="elemento">
        <span id="tituloElemento">Requisições</span>
        <div class="blocoElementoAltera">
            <div class="inputElemento">
                <div class="func">
                    <!-- <table class="tabelaRequisicao">
                        <tr class="linhaTabela">
                            {% for header in cabecalhoTabela %}
                            <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                        {% set p = namespace(value=0) %}
                        {% for row in pesquisaSQL %}
                        <form action="AltDadosUsuGG" method="POST" name="ConferenciaDeposito">
                            <tr class="linhaTabela">
                                {% for cell in row %}
                                {% if cell == row[0] %}
                                <input type="hidden" value="{{ cell }}" name="IdContaBanc">
                                {% else %}
                                <td class="celula">{{ cell }}</td>
                                {% endif %}
                                {% endfor %}
                                <td class="celula">
                                    <input type="submit" name="botao" value="Alterar" class="btnd solid"
                                        id="btnConfirmar">
                                </td>
                            </tr>
                        </form>
                        {% set p.value = p.value + 1 %}
                        {% endfor %}
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}