{% extends "home.html" %}
{% block nav %}
<div class="logo">
    <a href="home"><img src="../static/img/pynkpng2.png" alt="logo"></a>
</div>
<ul class="navbar">
    <li><a href="home" class="nav-link">Menu</a></li>
    <li><a href="/loginG" class="nav-link"><i class='bx bx-log-out'></i></a></li>
</ul>
{% endblock %}
{% block saldo %}
{% endblock %}
{% block func %}
<div class="func">
    <table class="tabelaRequisicao">
        <tr class="linhaTabela">
            {% for header in cabecalhoTabela %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% set p = namespace(value=0) %}
        {% for row in pesquisaSQL %}
        <form action="ListAG" method="POST" name="ConferenciaDeposito">
            <tr class="linhaTabela">
                {% for cell in row %}
                <td class="celula">{{ cell }}</td>
                {% endfor %}
                {% set LocalAnt = row[1] %}
                <td class="celula">
                    <input type="submit" name="botao" value="Alterar" class="btnd solid" id="btnConfirmar">
                </td>
            </tr>
        </form>
        {% set p.value = p.value + 1 %}
        {% endfor %}
    </table>
</div>
{% endblock %}