{% extends 'template.html' %}

{% block contents %}
<div class="login-adm">
    <div class="logo-imagem">
        <img src="../static/img/pynkpng.png" alt="logo" class="logo">
        <img src="../static/img/capaLogin.png" alt="capa" class="capa">
    </div>

    <div class="form-login-adm">
        <form action="AutenticarGerente" method="POST">
            <h2>Login</h2>
            <div class="div_input">
                <input type="text" name="numeroconta" id="usuario" required>
                <label for="usuario">Usuário</label>
            </div>
            <div class="div_input">
                <input type="password" name="senha" id="senha" required>
                <label for="senha">Senha</label>
                <img src="/static/img/mostrar.png" width="20px" onclick="mostrarOcultar" id="mostrar">
            </div>
            <button type="submit" class="entrar ripple">Entrar<i class='bx bx-right-arrow-alt bx-sm' style='color:#ffffff'></i></button>
        </form>
    </div>
</div>
<script>mostrarOcultar.js</script>

{% endblock %}