{% extends "template.html" %}

{% block contents %}
<nav class="navbar">
    <a href="{{ url_for('paginaInicial') }}"><img src="../static/img/prosa.png" alt="logo"></a>
    <ul>
        <li><a href="{{ url_for('cadastro') }}">Cadastre-se</a></li>
    </ul>
</nav>

<main class="login">
    <div class="message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <img src="../static/img/alert-icon.png" alt="alert">
        <p> Seu número de conta é {{ message }}.</p>
        <p> Guarde este número em um lugar seguro!</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <form action="{{ url_for('login') }}" method="POST" class="form">
        <img src="../static/img/logorosa2.png" alt="logo">
        <div class="div_input">
            <input type="text" name="numeroconta" id="numeroConta" required>
            <label for="numeroConta">Número da conta</label>
        </div>
        <div class="div_input">
            <input type="password" name="senha" id="senha" required>
            <label for="senha">Senha</label>
            <img src="/static/img/ocultar.png" width="20px" alt="" onclick="mostrarOcultar()" id="mostrar">
        </div>
        <button type="submit" value="ENTRAR" class="entrar ripple">Entrar<i class='bx bx-right-arrow-alt bx-sm'
                style='color:#ffffff'></i></button>
    </form>
</main>
<!-- /login -->
<script src="/static/scripts/mostrarOcultarSenha.js"></script>
{% endblock %}