{% extends "cadastronew.html" %}
{% block navbar %}
    <header>
        <div class="nav container">
            <a href="#" class="logo"><img src="../static/img/prosa.png" alt="logo"></a>
            <ul class="navbar">
                <li><a href="#" class="nav-link">A Pynk</a></li>
                <li><a href="cadastronew.html" class="nav-link">Cadastre-se</a></li>
            </ul>
        </div>
    </header>
    {% endblock %}
        {% block conteudo %}
        <form>
            <div class="login-input">
                <input type="text" class="input" id="conta" required>  
                <label for="conta">Número de conta:</label>
            </div>
            <div class="login-input">
                <input type="password" class="input" id="senha" required>
                <label for="senha">Digite sua senha:</label>
            </div>
        </form>
        {% endblock %}