<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="src/img/iconp.ico" type="image/x-icon">
    <title>Login|Py.nk</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"> -->
    <link rel="stylesheet" href="../static/style/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="img">
            <img id="logo" src="../static/img/pynkpng.png" alt=""><br>
            <img id="cliente" src="../static/img/login.svg" alt="Cliente">
        </div>
        <div class="forms-container">
            <div class="cadastro-login">
                <form action="AutenticarGerente" method="POST" class="form-login">
                    <h2 class="title">FAÇA SEU LOGIN</h2>
                    <div class="input-field">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="NÚMERO DA CONTA" name="numeroconta" required>
                    </div>
                    <div class="input-field">
                        <i class='bx bxs-lock'></i>
                        <input type="password" placeholder="SENHA" name="senha" required>
                    </div>
                    <input type="submit" value="ENTRAR" class="btn solid">
                </form>
            </div>
        </div>
    </div>
</body>
</html>