<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Py.NK</title>
</head>
<body>
    <div class="logo">
        <span id="txt_logo">Py.NK</span>
    </div>
    <div clas="login">
        <span id="txt_login">Login</span>
        <div class="input_cpf">
            <span id="txt_cpf">CPF</span>
            <input type="text" class="input_cadastro"> 
        </div>
        <div class="input_senha">
            <span id="txt_senha">Senha</span>
            <input type="password" class="input_cadastro"> 
        </div>
        <button id="submit">Entrar</button>
        <span>Não possui uma conta?
            <a href="cadastro.html">Cadastrar.</a>
        </span>
    </div>
</body>
</html>