{% extends "template.html" %}

{% block contents %}
<nav class="navbar">
    <a href="{{ url_for('paginaInicial') }}"><img src="../static/img/prosa.png" alt="logo"></a>
    <ul>
        <li><a href="#">Sobre</a></li>
        <li><a href="{{ url_for('cadastro') }}">Cadastre-se</a></li>
    </ul>
</nav>

<main class="login">
    <form action="{{ url_for('login') }}" method="POST" class="form">
        <img src="../static/img/logorosa2.png" alt="logo">
        <div class="div_input">
            <input type="text" name="numeroconta" id="numeroConta" required>
            <label for="numeroConta">Número da conta</label>
        </div>
        <div class="div_input">
            <input type="password" name="senha" id="senha" required>
            <label for="senha">Senha</label>
        </div>
        <button type="submit" value="ENTRAR" class="entrar ripple">Entrar<i class='bx bx-right-arrow-alt bx-sm'
                style='color:#ffffff'></i></button>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <label> Seu número da conta é {{ message }}</label>
        <label> GUARDE O NÚMERO DA CONTA EM UM LUGAR SEGURO</label>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
</main>
<!-- /login -->

{% endblock %}