{% extends "template.html" %}

{% block contents %}
<main class="cadastro">
    <section class="frase-imagem">
        <h1 class="texto_etapa_1"><span>Bem vindo!</span> Para começar, <br> digite seus <span>dados pessoais</span></h1>
        <img src="../static/img/capa_cadastro.png" alt="capa">
    </section>
    <section class="form_cadastro">
        <form action="{{ url_for('login') }}" method="POST">
            <div class="titulo">
                <h2>Vem ser</h2>
                <img src="../static/img/logorosa2.png" alt="logo">
            </div>
            <div class="div_input">
                <input oninput="mascara(this)" onblur="ValidarCPF(this)" type="text" name="cpf" id="CPFId" required>
                <label for="CPFId">Digite seu CPF</label>
            </div>
            <button type="submit" value="COMEÇAR" class="comecar ripple">Começar<i class='bx bx-right-arrow-alt bx-sm'
                    style='color:#ffffff'></i></button>
        </form>
    </section>
</main>
{% endblock %}