{% extends "layout.html" %}
{% block saldo %}
{% endblock %}
{% block conteudo %}
<center><h1>Solicitar alterção de dados</h1></center>  <br>

        {% for campo in listaAlteracao %}
                {% if listaAlteracao[3] == campo %}
                <p>{{ campo }}:</p>
                <div class="input-field">
                        <select name="GENERO" id="GENERO" class="input">
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outros</option>
                        </select>          
                </div>
                {% else %}
                <p> {{ campo }}: </p>
                <input class="input-field-cad" type="text" placeholder="{{ campo }}" name="{{ campo }}">
                {% endif %}
        
        {% endfor %}
{% endblock %}