{% extends "home.html" %}
{% block nav %}
<div class="logo">
    <a href="{{ url_for('home') }}"><img src="../static/img/pynkpng2.png" alt="logo"></a>
</div>
<ul class="navbar">
    <li><a href="{{ url_for('home') }}" class="nav-link">Menu</a></li>
    <li><a href="{{ url_for('index') }}" class="nav-link"><i class='bx bx-log-out'></i></a></li>
</ul>
{% endblock %}
{% block saldo %}
<!-- <label>Saldo do banco: R$ {{saldo}}</label> -->
{% endblock %}
{% block func %}
<div>
    <table class="tabelaRequisicao">
        <!-- Inicio da Tabela -->
        <tr class="linhaTabela">
            <!-- Forma o Cabeçalho de acordo com o que existe dentro de cabecalhoTabela (cabecalhoTabela é mandado pelo back) -->    
            {% for header in cabecalhoTabela %}
                <th >{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in pesquisaSQLTabela %}
        <form action="{{ url_for('AlteracaoConta) }}" method="POST" name="AceiteAlteracaoTabela">
        <tr class="linhaTabela">
            <!-- Forma as linhas da tabela -->
            {% for cell in row %}
                <!-- Sempre a 1° linha será o ID identificadora de alguma tabela -->
                <!-- A 1° Linha célula/coluna que é o ID não irá aparecer -->
                {% if row[0] == cell or row[1] == cell %}
                <input type="hidden" value="{{ cell }}" name="IdConta">
                {% else %}
                <td class="celula">{{ cell }}</td>
                {% endif %}
            {% endfor %}
                <td> 
                <input type="submit" name="botao" value="Confirmar" class="btnd solid" id="btnConfirmarAlt">
                <input type="submit" name="botao" value="Recusar" class="btnd solid" id="btnRecusarAlt">
                </td>
            </tr>
        </form>
         {% endfor %}
    </table>
</div>    

{% endblock %}