{% extends "templateCliente.html" %}
{% block conteudo %}
<div class="elemento">
    <div class="blocoElemento">
        <span id="tituloElemento">Abrir Nova Conta</span>
        <div class="inputElemento">
            <form action="{{ url_for('AberturaConta') }}"  method="POST">
                <div>
                    <select id="input_tipoconta" class="input-selects" name="tipoconta" required>
                        <option value="Conta Corrente">CONTA CORRENTE</option>
                        <option value="Conta Poupança">CONTA POUPANÇA</option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="CRIAR NOVA CONTA" class="btnd solid"> 
                </div>
            </form>
            <a href="home">
                <input type="button" id="botaoVoltar" value="Voltar">
            </a>
        </div>
    </div>
    <span id="mensagemErro"> {{ mensagemAberturaConta }}</span>
</div>

{% endblock %}