<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saque|Py.nk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/stylehome.css') }}">
</head>
<body>
    <header>
        <div class="nav container">
            <div class="logo">
                <a href="home.html"><img src="/src/static/img/pynkpng2.png" alt="logo"></a>  
            </div>
                <ul class="navbar">
                    <li><a href="home.html" class="nav-link">Menu</a></li>
                    <li><a href="#" class="nav-link">Conta</a></li>
                    <li><a href="#" class="nav-link">Py.nk</a></li>
                    <li><a href="#" class="nav-link">Contato</a></li>
                </ul>
            </div>
     
    <div class="funcao">
        <div class="h1">
            <h1>SAQUE SEU DINHEIRO</h1>
        </div>
        <div class="input-field">
            <input type="number" placeholder="00,00">
        </div>
        <input type="submit" value="SACAR" class="btnd solid"><br>
        <a href="home.html">Voltar ao Menu</a>
    </div>    
</body>
</html>