<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saque Pynk</title>
    <!-- <link rel="stylesheet" href="css/stylehome.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/stylehome.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <header>
        <div class="nav container">
            <div class="logo">
                <a href="{{ url_for('home') }}"><img src="../static/img/pynkpng2.png" alt="logo"></a>  
            </div>
                <ul class="navbar">
                    <li><a href="#" class="nav-link">Menu</a></li>
                    <!-- <li><a href="#" class="nav-link">Contato</a></li> -->
                    <!-- <li><a href="#" class="nav-link">Py.nk</a></li> -->
                    <li><a href="{{ url_for('index') }}" class="nav-link"><i class='bx bx-log-out'></i></a></li>
                </ul>
            </div>
     
    <div class="funcao">
        <div class="h1">
            <h1>SAQUE SEU DINHEIRO</h1>
        </div>
        <div class="input-field">
            <input type="number" placeholder="00,00">
        </div>
        <input type="submit" value="SACAR" class="btnd solid"><br>
        <a href="{{ url_for('home') }}">Voltar ao Menu</a>
    </div>    
   
</body>
</html>