{% extends "layout.html" %}
{% block conteudo %}

<div class="conteudo">
        <div class="elemento">
                <span id="tituloElemento">Solicitar alterção de dados</span>

                <div class="blocoElemento">
                        <div class="blocoElementoAltera">
                                <p>Nome:</p><span> {{nome}} </span>
                                <p>Email::</p><span> {{email}} </span>
                                <p>Cpf:</p><span> {{cpf}} </span>
                                <p>Gênero:</p><span> {{genero}} </span>
                                <p>Endereço:</p><span> {{endereco}} </span>
                                <p>Senha:</p><span> {{senha}} </span>
                                <a href="reqaltUsuario">
                                        <span class="material-symbols-outlined">edit_square</span>
                                </a>                                
                        </div>
                </div>
        </div>
</div>

{% endblock %}


