{% if pagina == 3 %}
{% extends "homenewgg.html" %}
{% elif pagina == 2 %}
{% extends "homenewg.html" %}
{% else %}
{% extends "homenew.html" %}
{% endif %}
{% block conteudo %}
<div class="elemento">
        <div class="blocoElemento">
                {% if pagina == 1 %}
                        <span id="tituloElemento">Dados da Conta</span>
                        <div class="inputElemento">
                                <input type="hidden" value="{{idUsuario}}" name="idUsuario">
                                <input type="hidden" value="{{idFuncionario}}" name="idFuncionario">
                                        <div class="inputValor">
                                                <span id="textoInputElemento">Número da Conta: <br>{{numeroConta}}</span>
                                        </div>
                                        <div class="inputValor">
                                                <span id="textoInputElemento">Agência: <br>{{numeroAgencia}}</span>
                                        </div>
                        </div>
                {% endif %}
                <span id="tituloElemento">Dados Pessoais</span>
                <div class="inputElemento">
                        <div class="inputValor">
                                <span id="textoInputElemento">Nome completo: <br>{{nome}}</span>
                        </div>
                        <div class="inputValor">
                                <span id="textoInputElemento">Email: <br>{{email}}</span>
                        </div>
                        <div class="inputValor">
                                <span id="textoInputElemento">Endereço: <br>{{endereco}}</span>
                        </div>
                        <div class="inputValor">
                                <span id="textoInputElemento">CPF: <br>{{cpf}}</span>
                        </div>
                        <div class="inputValor">
                                <span id="textoInputElemento">Sexo: <br>{{genero}}</span>
                        </div>
                        <div class="inputValor">
                                <span id="textoInputElemento">Data de Nascimento: </span>
                                <input id="textoInputElemento" type="date" name="datanasc" value={{dataNasc}} readonly
                                        required>
                        </div>
                        {% if loginVisivel == False %}
                        <input type="hidden" value="{{login}}" name="login">
                        {% else %}
                        <div class="inputValor">
                                <span id="textoInputElemento">Login:<br>{{login}}</span>
                        </div>
                        {% endif %}
                        <div class="inputValor">
                                <span id="textoInputElemento">Senha: <br> <input type="password" value="{{senha}}"
                                                readonly></span>
                        </div>
                        <div class="botaoElemento">
                                <a href="alteraU">
                                        {% if reqAberta == True %}
                                                <input type="button" id="botaoVoltar" value="Requisição aberta" disabled>
                                        {% else %} 
                                                <input type="button" id="botaoVoltar" value="Alterar dados" >
                                        {% endif %}
                                </a>
                        </div>
                </div>
        </div>
</div>
<script src="../static/scripts/confirmarsenha.js"></script>
<script src="../static/scripts/validarCPF.js"></script>
{% endblock %}