<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/prosa.png">
    <title>{{ tituloNavegador }}</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/cadastro.css">
    <link rel="stylesheet" href="../static/style/login.css">
    <link rel="stylesheet" href="../static/style/formularios.css">
    <link rel="stylesheet" href="../static/style/botoes.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'>
    {% endblock %}
</head>

<body>
    {% block contents %} {% endblock %}
</body>

</html>