{% extends "layout.html" %}
{% block conteudo %}
    <div class="conteudo">
        <div class="elemento">
            <div class="saldo-dep">
                <span id="tituloSaldo">Seu saldo</span>
                <span id="saldo">R$ {{saldo}}</span>
            </div>
            <span id="tituloElemento">Transferência</span>
            <div class="blocoElemento">
                <div class="inputElemento">
                    <form action="{{ url_for('TransacaoConta') }}" method="POST">
                        <div class="inputPadrao">
                            <span id="textoInputElemento">Número de conta:</span>
                            <input required type="number" placeholder="" name="numeroConta">
                            <span id="textoInputElemento">Agência:</span>
                            <input required type="number" placeholder="" name="numeroAgencia">
                        </div>
                        <div class="inputValor">
                            <span id="textoInputElemento">Insira o valor:</span>
                            <input required type="number" placeholder="00,00" name="valor">
                        </div>
                    </div>
                        <div class="botaoElemento">
                            <input type="submit" id="botaoSubmit" value="Transfira">
                    </form>
                    <input type="button" id="botaoVoltar" value="Voltar">
                </div>
            </div>
        </div>
    </div>
{% endblock %}