 {% extends "layout.html" %} 
 {% block conteudo %}
 <main>
      {% block Tabela %}    
    <div class="Extrato">
      <div class="scroll-div">
        <div class="scroll-object">
        <table class="tabelaRequisicao">
          <tr class="linhaTabela">
            <th>Py.NK Internet Banking</th>
          </tr>
          <tr>
            <td class="celula">Comprovante de {{ Tipo }}</td>
          </tr>
          {% if Tipo == 'Depósito' %}
          <tr>
            <td class="celula"> R$+ {{ Valor }} </td>
          </tr>
          {% elif Tipo == 'Saque'  %}
          <tr>
          <td class="celula"> R$- {{ Valor }} </td>
          </tr>
          {% else %}
            {% if idContaOrigem == idContaRequisitanteComprovante %}
            <tr>
            <td class="celula">R${{ Valor }} transferido de {{nomeContaOrigem}}</td>
            </tr>
            <tr>
              <td class="celula">Enviado para: {{nomeContaDestino}}</td>
            </tr>
            <tr>
              <td class="celula">Número de Conta: {{numeroContaDestino}}</td>
            </tr>
            {% else %}
            <tr>
              <td class="celula">R${{ Valor }} recebido de {{nomeContaOrigem}}</td>
              </tr>
              <tr>
                <td class="celula">Recebido de: {{nomeContaOrigem}}</td>
              </tr>
              <tr>
                <td class="celula">Número de Conta: {{numeroContaOrigem}}</td>
              </tr>
            {% endif %}
          {% endif %}
          <tr>
            <td class="celula"> Status Aprovação: {{ statusAprovacao }}</td>
          </tr>
        <tr>
          <td class="celula"> Data do(a) {{ Tipo }} : {{ Data }}</td>
        </tr>
        <tr>
          <td class="celula"> Horário do(a) {{ Tipo }} :  {{ Hora }}</td>
        </tr>
        <tr>
         <td class="celula">ID da Transação: {{ ID }}</td>
        </tr>
        <tr>
          <td class="celula">
            <a href="http://127.0.0.1:5000/download/{{ID}}">
              <input type="button" value="Download">
            </a>
          </td>
        </tr>
      </table> 
      </div>
    </div>
  </div>
    {% endblock Tabela %} 
  </main>
    
  {% endblock conteudo %} 