.entrar,
.comecar,
.cadastrar {
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #FB1C7B;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1rem;
}

.entrar,
.comecar {
    width: 16rem;
}

.cadastrar {
    width: 60%;
    margin: 2rem 0;
}

/* Efeito de onda */
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
}

@media (max-width: 620px),
(max-height: 620px) {
    .entrar,
    .comecar {
        width: 10rem;
        height: 2rem;
        font-size: .8rem;
    }
}

/* Mostrar e ocultar senha */
.mostrarOcultar{
    -ms-flex-item-align: auto;
    width: 20px;
}
