.index,
.cadastro {
    background-image: linear-gradient(#f17eae 65%, #f8bcd5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* div do lado esquerdo */
.frase-imagem {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index .frase-imagem h1,
.cadastro .frase-imagem h1 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.index .frase-imagem h1 span,
.cadastro .frase-imagem h1 span  {
    color: #F9035A;
}

.index .frase-imagem img,
.cadastro .frase-imagem img {
    width: 80%;
    max-width: 50rem;
    margin: 0 auto;
}

.index .form_index {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index .form_index form {
    height: 25rem;
}

.cadastro .frase-imagem {
    width: 50%;
}

.cadastro .form_cadastro {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .index .frase-imagem,
    .cadastro .frase-imagem {
        display: none;
    }
}