form {
    background-color: #fff;
    width: 27rem;
    height: 30rem;
    border-radius: 150px 100px 222px 150px;
    box-shadow: 5px 5px 0px 5px #FB1C7B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

form .div_input {
    display: flex;
    flex-direction: column;
    width: 16rem;
    margin: 20px 0;
    position: relative;
}

form .div_input input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    transition: 0.1s ease-in-out; /* início e fim lentos */
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

form .div_input label {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: 0.2s ease-in-out;
    cursor: text;
}

form .div_input input:focus, /* elemento em foco */
form .div_input input:valid { /* conteúdo validado */
    border-bottom: 1px solid #FB1C7B;
}

form .div_input input:focus ~ label,
form .div_input input:valid ~ label {
    transform: translateY(-24px);
    font-size: 12px;
    color: #FB1C7B;
}

.login form img {
    width: 16rem;
    margin-bottom: 1rem;
}

/* formulário página inicial */
 .index .form_index form .titulo {
    display: flex;
    color: #FB1C7B;
    font-size: 1.5rem;
}

.index .form_index form .titulo img {
    width: 7rem;
    margin-left: .8rem;
}

.index .form_index form .div_input {
    margin: 3rem 0;
}

/* formulário de cadastro */
.form_cadastro form {
    height: 80%;
    width: 90%;
    max-width: 50rem;
}


@media (max-width: 620px) {
    .index .form_index form {
        width: 20rem;
        height: 20rem;
    }

    .index .form_index form .titulo {
        font-size: 1rem;
    }

    .index .form_index form .titulo img {
        width: 5rem;
    }

    .index .form_index form .div_input {
        margin: 2rem 0;
    }

    .login form {
        width: 20rem;
        height: 23rem;
    }

    .login form img {
        width: 10rem;
    }

    .login form .div_input,
    .index form .div_input {
        width: 10rem;
        font-size: .8rem;
    }

    .login form .div_input input {
        height: 1.5rem;
    }
}