#btn_menu {
    position: absolute;
    top: 2rem;
    left: 160px;
    cursor: pointer;
}

.topo-sidebar {
    height: 100vh;
    width: 200px;
    background-color: var(--color-white);
    transition: all 0.5s ease;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.8rem 0 0 1.25vw;
}

.topo img{
    width: 7rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1rem;
}

.sidebar a {
    display: flex;
    color: var(--color-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition:all 300ms ease;
}

.sidebar a span {
    font-size: 1.8rem;
    transition: all 200ms ease;
}

.sidebar a:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

.sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

.sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

.sidebar a:hover {
    color: var(--color-primary);
}

.sidebar a:hover span {
    margin-left: 1rem;
}

/* sidebar active */
.topo-sidebar.active {
    width: 4rem;
}

#btn_menu.active {
    left: 1rem;
}

.topo-sidebar.active .topo,
.topo-sidebar.active .sidebar {
    display: none;
}

.pageContent.active {
    width: 100%;
}

@media (max-width: 1270px) {
    #btn_menu {
        left: 155px;
    }
}

@media (max-width: 1024px) {
    #btn_menu {
        left: 150px;
    }
}

@media (max-width: 900px) {
    #btn_menu {
        left: 1rem;
    }

    #btn_menu.active {
        left: 160px;
    }

    .topo-sidebar {
        width: 4rem;
    }

    .topo-sidebar .topo {
        display: none;
    }

    .topo-sidebar .sidebar {
        display: none;
    }

    .topo-sidebar.active {
        display: block;
        width: 260px;
    }

    .topo-sidebar.active .topo {
        display: block;
    }

    .topo-sidebar.active .sidebar {
        display: block;
    }
}