
/* variaveis */
:root{
    /* paleta de cores */
    --color-primary: #B71258;
    --color-sucess:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#362949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#677483;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;
    /* bordas */
    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;
    /* paddings */
    --card-padding:1.8rem;
    --padding-1:1.2rem;
    /* sombras */
    --box-shadow:0 2rem 3rem var(--color-light);

}
*{
    margin:0;
    padding:0;
    outline:0;
    appearance:none;
    border:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x:hidden;
    color: var(--color-dark);
}
.container{
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
} 
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.9rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size:0.77rem;
}
small{
    font-size: 0.75rem;
}
.text-muted{
    color: var(--color-info-dark);
}
p{
    color:var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.sucess{
    color: var(--color-sucess);
}
.warning{
    color: var(--color-warning);
}
aside{
    height: 100vh;
}
aside .topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;
    margin-left: 2vw;
}
aside .logo img{
    width: 66%;
}
aside .fechar{
    display: none;
}
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside h3{
    font-weight: 600;
}
aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition:all 300ms ease;
}
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 200ms ease;
}
aside  .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover span{
    margin-left: 1rem;
}
main{
    margin-top: 1.4rem;
}
main .data{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .data input[type="date"]{
    background: transparent;
    color: var(--color-dark);
}
main .bloco-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}
main .bloco-info > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .bloco-info > div:hover{
    box-shadow:none; 
}
main .bloco-info > div span{
    background-color: var(--color-primary);
    padding: 0.4rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}
main .bloco-info > div .conteudo-saldo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .bloco-info .h3{
    margin: 1 rem 0 0.6rem;
    font-size: 1rem;
}
.extrato{
    align-items: center;
    background: #EBEBEB;
    width: 70vh;
    padding:3vh;
    border-radius: 2vh;
}

.scroll-div{
    width: 65vh;
    background:var(--color-background);
    height: 70vh;
}
.links_name:hover{
    color: #b71258;
    background:#EBEBEB ;
    transition: 0.3s all linear;
}
.scroll-div{
    width: 65vh;
    background:var(--color-background);
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}
.scroll-object{
    
    font-size: 1.9vh;
    padding: 2vh;
}
.scroll-div::-webkit-scrollbar{
    width: 1em;
   
}
.scroll-div::-webkit-scrollbar-track{
    background-color:var(--color-background);
}
.scroll-div::-webkit-scrollbar-thumb{
    background-color:var(--color-background);
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 0.8vh;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even){background-color: var(--color-background)}

tr:hover{background-color:var(--color-background)}

th {
    background-color: #CC5587;
    color: white;
}
.DivExtrato{
    display: flex;
    flex-direction: column;
    
}
/* .form-date{
    font-size: 1.5vh;
    line-height: 2.4vh;
    padding-bottom: 0.8vh;
    padding: 0.5vh;
    margin-bottom: 10vh;
}
.input-date{
    padding: 0.5vh;
    appearance: none;
    color: #b71258;
    font-size: 1vh;
    border: 1px solid #b71258;
    border-radius: 1vh;
    background: #e7e7e7;
    display: inline-block;
    visibility: visible;
}
.input-date:focus{
    outline: #DDA0DD;
    border-color: #CC5587;
    box-shadow: 0 0 0 0.05rem #DDA0DD;
} */
/* .btnd{
    font-size: 1.1vh;
    margin-left: 25vh;
    padding: 0.5vh;
    color: #EBEBEB;
    background-color: #b71258;
    border: 1px solid #b71258;
    border-radius: 1vh;
}
.btnd:hover{
    background-color: #CC5587;
    border-color: #CC5587;
    box-shadow: 0 0 0 0.05rem #DDA0DD;
} */

/* Deposito */
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6vh;
    padding: 10vh 20vw;
    background-color: #050624;
    width: 100vw;
    min-height: 100vh;
}

#logoConteudo{
    height: 10vh;
    width: auto;
    align-self: center;
}

.elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vh;
    padding: 2vh 4vw;
}

#tituloElemento{
    color: white;
    font-weight: 800;
    font-size: 3vh;
}

.blocoElemento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
    width: 20vw;
    height: 40vh;
    padding: 6vh 8vw 4vh 8vw;
    background: rgba(211, 225, 245, 0.15);
    border-radius: 10px;
}

.inputElemento{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2vh 1vw 3vh 1vw;
    gap: 2vh;
    height: 14vh;
    text-align: left;
    background: rgba(250, 251, 252, 0.23);
    border: 0.01vh solid #D3E1F5;
    border-radius: 10px;
}

#textoInputElemento{
    text-align: left;
    font-weight: 600;
    font-size: 2vh;
    color: white;
}

.inputValor{
    border-bottom: 0.01vh solid #D3E1F5;
    
}

.botaoElemento{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 3vw;
}

#botaoSubmit{
    height: 4vh;
    width: 7vw;
    background: #B71258;
    border-radius: 8px;
    color: white;
}

#botaoVoltar{
    height: 4vh;
    width: 7vw;
    background: white;
    border-radius: 8px;
    color: #B71258;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: rgba(211, 225, 245, 0.15);
  color: white;
  height: 5vh;
  font-size: 2vh;
  font-weight: 600;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  background-color: rgba(211, 225, 245, 0.15);
  outline: none;
  color: white;
  height: 5vh;
  font-size: 2vh;
  font-weight: 600;
}