
/* variaveis */
:root{
    /* paleta de cores */
    --color-primary: #B71258;
    --color-sucess:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#362949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#677483;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;
    /* bordas */
    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;
    /* paddings */
    --card-padding:1.8rem;
    --padding-1:1.2rem;
    /* sombras */
    --box-shadow:0 2rem 3rem var(--color-light);

}
*{
    margin:0;
    padding:0;
    outline:0;
    appearance:none;
    border:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
    max-width: 100vw;
    min-height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x:hidden;
    color: var(--color-dark);
}
.container{
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
} 
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 0.9rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size:0.77rem;
}
p{
    color:var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.sucess{
    color: var(--color-sucess);
}
.warning{
    color: var(--color-warning);
}
aside{
    height: 100vh;
}
aside .topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;
    margin-left: 1.25vw;
}
aside .logo img{
    width: 70%;
}
aside .fechar{
    display: none;
}
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1rem;
}
aside h3{
    font-weight: 70vh;
}
aside .sidebar a{
    display: flex;
    color: var(--color-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition:all 300ms ease;
}
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 200ms ease;
}
aside  .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover span{
    margin-left: 1rem;
}
main{
    margin-top: 1.4rem;
}
main .bloco-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}
main .bloco-info > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .bloco-info > div:hover{
    box-shadow:none; 
}
main .bloco-info > div span{
    background-color: var(--color-primary);
    padding: 0.4rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}
main .bloco-info > div .conteudo-saldo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .bloco-info .h3{
    margin: 1 rem 0 0.6rem;
    font-size: 1rem;
}
main .data{
    display: inline-block;
    padding: 0.5vh;
    background: transparent;
   
    margin-top: 1rem;
    margin-left: 2rem;
}
main .data input[type="date"]{
    background: var(--color-light);
    color: var(--color-dark);
    border-radius: var(--border-radius-1);
    padding: 0.5vh;
} 
.btnd{
    font-size: 1.1vh;
    padding: 0.5vh;
    color: #EBEBEB;
    background-color: #b71258;
    border: 1px solid #b71258;
    border-radius: 1vh;
}
.btnd:hover{
    background-color: #CC5587;
    border-color: #CC5587;
    box-shadow: 0 0 0 0.05rem #DDA0DD;
}
/* .form-date{
    font-size: 1.5vh;
    line-height: 2.4vh;
    padding: 0.5vh;
    margin-top: 1rem;
    margin-left: 2rem;
} */
/* .input-date{
    padding: 0.5vh;
    appearance: none;
    color: #b71258;
    font-size: 1vh;
    border: 1px solid #b71258;
    border-radius: 1vh;
    background: #e7e7e7;
    display: inline-block;
    visibility: visible;
} */
main .Extrato{
    margin-top:0.8rem ;
    height: 60vh;
}
main .Extrato .texto-extrato{
    margin-left: 2rem;
    margin-bottom: 0.8rem;
}
main .Extrato .tabelaRequisicao{
    background-color: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow) ;
    transition: all 300ms ease;
}
main .Extrato .tabelaRequisicao:hover{
    box-shadow: none;
}
main .tabelaRequisicao .linhaTabela td{
    height: 3rem;
    font-weight: 550;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
}
main .tabelaRequisicao .linhaTabela th{
    height: 3rem;
    font-weight: 750;
    color: black;
}
main .tabelaRequisicao .linhaTabela tr:last-child td{
    border: none;
}
tr:hover{background-color:var(--color-background)} 

.scroll-div{
    width: 65vw;
    height: 80vh;
}
.scroll-div{
    width: 100%;
    background:var(--color-background);
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}
.scroll-object{
    font-size: 1rem;
    padding: 2vh;
}
.scroll-div::-webkit-scrollbar{
    width: 1em;
}
.scroll-div::-webkit-scrollbar-track{
    background-color:var(--color-background);
}
.scroll-div::-webkit-scrollbar-thumb{
    background-color:var(--color-background);
}
/* Deposito */
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding: 6vh 20vw;
    background-color: var(--color-background);
    width: 90vw;
    min-height: 100vh;
}

.elemento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 2vh 4vw;
}

#tituloElemento{
    color: var(--color-dark);
    font-weight: 800;
    font-size: 3vh;
}

.blocoElemento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: auto;
    gap: 4vh;
    padding: 2vh 4vw 2vh 4vw;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.inputElemento{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: left;
    padding: 2vh 1vw 2vh 1vw;
    gap: 2vh;
    height: 100%;
    text-align: left;
}

#textoInputElemento{
    text-align: left;
    font-weight: 600;
    font-size: 2vh;
    color: var(--color-dark-variant);
}

.inputValor{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: left;
    margin-top: 2vh;
    padding: 2vh 1vw 3vh 1vw;
    gap: 1vh;
    height: auto;
    text-align: left;
    border-bottom: 0.01vh solid #D3E1F5;
}

.botaoElemento{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 3vw;
}

#botaoSubmit{
    height: 4vh;
    width: 7vw;
    background: var(--color-primary);
    border-radius: 8px;
    color: var(--color-white);
    font-size: 2vh;
    font-weight: 300;
}

#botaoVoltar{
    height: 4vh;
    width: 7vw;
    background: var(--color-white);
    border-radius: 8px;
    color: var(--color-primary);
    font-size: 2.5vh;
    font-weight: 400;
    cursor: pointer;
}

.saldo-dep{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 20vw;
    height: 8vh;
    padding: 1vh 2vw 1vh 2vw;
    margin-bottom: 2vh;
    background: var(--color-white);
    color: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#tituloSaldo{
    font-weight: 400;
    font-size: 1.5vh;
    color: var(--color-dark);
    text-align: left;
}

#saldo{
    font-weight: 600;
    font-size: 2.25vh;
    color: var(--color-dark-variant);
    text-align: left;
}

.inputPadrao{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
    gap: 1vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  background-color: rgba(211, 225, 245, 0.15);
  color: white;
  height: 5vh;
  font-size: 2vh;
  font-weight: 600;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  background-color: rgba(211, 225, 245, 0.15);
  outline: none;
  color: black;
  height: 5vh;
  font-size: 2vh;
  font-weight: 600;
}