@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f6f9;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.logo {
    width: 3vw;
}

.navbar {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.nav-link {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;
    color: #B71258;
    margin-right:10vh;
}

.nav-link:hover {
    color: #B71258;
    background: #ececec;
    transition: 0.3s all linear;
}

.cadastro {
    background-color: whitesmoke;
    width: 20vw;
    height: 10%;
    padding: 40px;
    margin-top: 13%;
    margin-left: 7%;
    border-radius: 15px;
    box-shadow:0 2rem 3rem #dce1eb;
    align-items: center;
}
form{
    background-color: #fff;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2rem;
    box-shadow:0 2rem 3rem rgba(132,139,200,0.18);
    padding: 5vh 4%;
}

form div.login-input{
    position: relative;
    margin: 3vw 0;
}
form div.login-input .label{
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(100,100,100);
    cursor: text;
    transition: all 0.5s ease-in-out;
}
form div.login-input .input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid rgb(200,200,200);
    outline: none;
    font-size: 16px;
}

form div.login-input .input:focus,
form div.login-input .input:valid{
    border-bottom: 2px solid #B71258;
}

form div.login-input .input:focus ~ label,
form div.login-input .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #B71258;
}
