<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <title>Py.NK</title>
</head>

<body>
<div class="maincadastro">
    <div class="logo">
        <span id="txt_logo">Py.NK</span>
    </div>
    <div class="cadastro">
        <form action="/login.html" method="POST">
            <span id="txt_cadastro">Cadastro</span>
            <div class="input_nome">
                <span id="txt_nome">Nome</span>
                <input type="text" class="input_cadastro" name="name">
            </div>
            <div class="input_cpf">
                <span id="txt_cpf">CPF</span>
                <input type="text" class="input_cadastro" name="cpf">
            </div>
            <div class="input_endereco">
                <span id="txt_endereco">Endereço</span>
                <input type="text" class="input_cadastro" name="endereco">
            </div>
            <div class="input_data">
                <span id="txt_data">Data nascimento</span>
                <input type="date" class="input_cadastro" name="datanasc">
            </div>
            <div class="input_genero">
                <span id="txt_genere">Gênero</span>
                <!-- <input list="genero" class="input_cadastro"> -->
                <select id="input_genero" name="genero">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="O">Outros</option>
                    <option value="N">Prefiro não informar</option>
                </select>
            </div>
            <div class="input_senha">
                <span id="txt_senha">Senha</span>
                <input type="password" class="input_cadastro" name="senha">
            </div>
            <button id="submit">Cadastrar</button>
            <span>Ja possui uma conta?
                <a href="login.html">Entrar.</a>
            </span>
        </form>
    </div>
</div>
</body>

</html>