<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/iconp.ico" type="image/x-icon">
    <title>Py.nk</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="cadastro-login">
                <form action="" class="form-login">
                    <h2 class="title">FAÇA SEU LOGIN</h2>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="text" placeholder="CPF">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="SENHA">
                        </div>   
                        <input type="submit" value="ENTRAR" class="btn solid">
                </form>
            </div>
        </div>    
    </div>
        </div>
    </div> 

</body>
</html>